@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(../fonts/squids-game-font.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.grid-container {
  display: grid;
  /* height:100vh; */
  grid-template-columns: 0.7fr 1.3fr;
  grid-gap: 20px;
}


.grid-child-right.pg-acceuil{
    padding-top:0rem;
    
}
.grid-child-left.pg-acceuil{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: flex-start; */
    padding-bottom:2rem;
}


.line-1 {
    height: 1px;
    background: white;
    margin-top:-10px;
    width:40vw;
  }

  .line-2 {
    height: 1px;
    margin-top:20px;
    width:20vw;
    background: black;
  }

.rules-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}


.rules-header{
    text-align: right;
}

div.rules-line>h2{
    padding:0;
    margin:0;
    margin-right:20px;
    margin-top:5px;
}

div.rules-line>div.line-2{
    width:40%;
    margin-top:20px;
}
div.rules-header>div.line-1{
    width:100%;
    margin-left:0;
    margin-top:10px;
}

.br {
    display: block;
    margin-bottom: -3rem;
}

.rules-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom:auto;
}

.btn-container{
    text-align: center;
}
.btn{
    margin:40px;
    padding:3px 40px;
    height:40px;
    width:auto;
}

@media screen and (min-width: 780px) {
  img.img-accueil {
    width: 30rem;
    height: auto;
  }
}

@media screen and (max-width: 779px) {
  img.img-accueil {
    width: 80%;
    height: auto;
    padding: 0 10%;
  }
}
