@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');

/* html {
    height: 100%;
} */


body {
  margin: 0;
  height:100%;
  /* background: linear-gradient(240.23deg, #292D3E 68.45%, #F52D7E 102.75%); */
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'IBM Plex Mono','Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #F52D7E;
  font-family: 'IBM Plex Mono';
  color:white;
  text-transform: uppercase;
  border-radius: 15px;
  font-size:1.3rem;
  border: none;
  cursor: pointer;
  width: 260px;
}

input {
  background:#696c78;
  font-family: 'IBM Plex Mono';
  border-radius: 15px;
  color:white;
  border: none;
  outline-color: #F52D7E;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
