.scroll-container{
    overflow-y: scroll;
    height:60vh;
    margin:20px 10px;
    padding:5px;
    border: 1px solid white;
    border-radius: 6px;
}

.scroll-container::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: #292D3E; /* color of the tracking area */
    border: 3px solid white;
    border-radius: 6px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #F52D7E; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 3px solid white; /* creates padding around scroll thumb */
  }


  ul {
    list-style: none;
    padding-left: 10px;
  }
  li {
    padding-left: 1.3em;
  }
  li:before {
    content: "\f135";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  